<p>
|safeフィルターを使わないと{{safe}}
|safeフィルターを使うと {{safe|safe}}
</p>
<p>
|capitalizeフィルターを使わないと{{capitalize}}
|capitalizeフィルターを使うと {{capitalize|capitalize}}
</p>
<p>
|lowerフィルターを使わないと{{lower}}
|lowerフィルターを使うと {{lower|lower}}
</p>
<p>
|upperフィルターを使わないと{{upper}}
|upperフィルターを使うと {{upper|upper}}
</p>
<p>
|titleフィルターを使わないと{{title}}
|titleフィルターを使うと {{title|title}}
</p>
<p>
|trimフィルターを使わないと{{trim}}
|trimフィルターを使うと {{trim|trim}}
</p>
<p>
|striptagsフィルターを使わないと{{striptags}}
|striptagsフィルターを使うと {{striptags|striptags}}
</p>

